<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ValidFolderPath" value="C:\Windows"/>
    <add key="InvalidFolderPath" value="C:\Windows2"/>
    <add key="ValidFolder" value="Windows"/>
    <add key="InvalidFolder" value="Windows2"/>
  </appSettings>
</configuration>